.blog-posts {
  background: #3f3b48;
  @include adaptivValue("padding-top", 90, 40, 1);
  @include adaptivValue("padding-bottom", 80, 40, 1);
  color: white;
  &__container {
  }

  &__title {
    @include adaptivValue("margin-bottom", 70, 40, 1);
  }
  &__body {
  }
}

.posts-slider {
  @include adaptivValue("margin-bottom", 55, 30, 1);
  &__slide {
    margin-right: 50px;
    @include adaptivValue("margin-right", 50, 10, 1);
    &:last-child {
      margin-right: 0;
    }
  }
}
.slide-post {
  max-width: 340px;
  width: 100%;
  background: #595466;
  text-transform: uppercase;
  font-weight: 700;
  &__body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__image {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 88%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__date-label {
    position: absolute;
    right: 5px;
    bottom: -25px;
  }

  &__author {
    font-size: 10px;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 12px;
    margin-bottom: 25px;
  }

  &__readmore {
    font-size: 10px;
    color: white;
    position: relative;
    padding-left: 25px;
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background: white;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -4px;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-top: 3px solid #3f3b48;
      border-right: 3px solid #3f3b48;
      transform: rotate(45deg) translate(2px, -3px);
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0px;
    }
  }
}

.label-date {
  width: 75px;
  font-weight: 700;
  border-radius: 5px;
  overflow: hidden;
  &__number {
    font-size: 30px;
    background: white;
    color: #3f3b48;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
  }

  &__month {
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    background: #3f3b48;
  }
}

.swiper-scrollbar-drag {
  display: block;
  width: 90px;
  height: 25px;
  background: url("../img/blog/scroll-thumb.png") center no-repeat;
  margin-top: -10px;
}

.posts-scrollbar {
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    height: 8px;
    margin: 0 auto;
    background: #2f2c36;
    border-radius: 10px;
  }
}
