.footer {
  background: #3f3b48;
  color: white;
  padding: 25px 0;
  &__container {
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 600px){
          flex-direction: column;
          gap: 30px;
    }
  }

  &__copy {
      @media (max-width:$md4+px){
           font-size: 12px; 
      }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    flex: 0 0 33px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.3s ease 0s;
    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.05);
      }
    }
    @media (max-width: 767px) {
      transform: scale(1.15);
    }
  }
}

//====================================================================================================

//====================================================================================================
