/*How we work section =====*/

.how-we-work {
  @include adaptivValue("padding-top", 93, 40, 1);
  // @include adaptivValue("padding-bottom", 102, 40, 1);
  &__container {
    max-width: 940px;
    margin: 0 auto;
    @media (max-width: 992px) {
      padding: 0 10px;
    }
  }
  &__title {
    text-align: center;
    @include adaptivValue("margin-bottom", 80, 40, 1);
  }
  &__body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -15px 50px;
    @media (max-width: 768px) {
      margin: 0px -15px;
    }
  }
  &__column {
    flex: 1 1 33.333%;
    padding: 0 15px;
    @media (max-width: 768px) {
      margin-bottom: 40px;
      -webkit-flex: 0 1 50%;
      -moz-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      -o-flex: 0 1 50%;
      flex: 0 1 50%;
      &:last-child {
        flex: 1 1 100%;
      }
    }
    @media (max-width: 530px) {
      flex: 1 1 100%;
    }
  }
  &__button {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  &__call-button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: red;
    text-transform: uppercase;
    padding: 15px 35px;
    border-radius: 5px;
  }
  &__background {
    margin-top: -50px;
    img {
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: 530px) {
      margin-top: 0;
    }
  }
}
.column-how {
  &__head {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    margin-bottom: 25px;
  }
  &__image {
    margin-right: 12px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
  &__text {
  }
}
