.intro {
  height: 555px;
  background: url("../img/intro-screen/Mountain.png") no-repeat;
  background-size: contain;
  background-position: center bottom -205px;
  overflow: hidden;
  &__container {
    padding-top: 30px;
    @include adaptivValue("padding-top", 30, 80, 1);
  }
  &__images {
    position: relative;
    bottom: 0;
  }
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "KenyanCoffe", sans-serif;
  &_white {
    * > * {
      color: white;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
  &__right-part {
    display: flex;
    align-items: flex-end;
  }
  &__normal {
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 56px;
    line-height: 53px;
    font-weight: 700;
    @include adaptivValue("font-size", 56, 36, 1);
  }
  &__cursive {
    line-height: 1;
    font-size: 40px;
    line-height: 53px;
    font-style: italic;
    font-family: "Pacifico";
    font-style: normal;
    @include adaptivValue("font-size", 40, 28, 1);
    @media (max-width: 768px) {
      margin-right: 15px;
    }
  }
  &__accent {
    margin: 0 10px 22px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 122px;
    line-height: 58px;
    color: red;
    font-weight: 700;
    letter-spacing: 7px;
    @include adaptivValue("font-size", 122, 64, 1);
    .title_white & {
      color: white;
    }
    @media (max-width: 768px) {
      margin: 10px 10px 0px;
    }
    @media (max-width: 480px) {
      margin: 0px 5px;
      letter-spacing: 3px;
    }
  }
}

.images-intro {
  &__body {
    max-width: 645px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: -150px;
    min-height: 315px;
  }
  &__image {
    position: absolute;
    bottom: 0;
    &_browser {
      left: 0;
      bottom: 40px;
      @media (max-width: 480px) {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &_phone {
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 2;
    }
    &_pad {
      right: 0;
      z-index: 1;
      @media (max-width: 480px) {
        z-index: -1;
        right: 50%;
        transform: translate(50%, 0);
      }
    }
  }
}
