@mixin rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
  $angle-per-char: calc($angle-span / $num-letters);
  @for $i from 1 through $num-letters {
    .char#{$i} {
      color: red;
      transform: rotate(calc($angle-offset + $angle-per-char * $i));
    }
  }
}
